openapi: 3.0.0
info:
  version: 1.0.0
  title: Network Fundamentals
  license:
    name: MIT
servers:
  - url: 'https://sigmasoftware.stoplight.io/v1'
paths:
  /people:
    get:
      summary: Get all people
      description: Get all people
      operationId: listPeople
      tags:
        - networkFundamentals
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
        - schema:
            type: string
          in: query
          name: offset
      responses:
        '200':
          description: A paged array of people
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/People'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml
    post:
      summary: Register new person
      operationId: createPerson
      tags:
        - networkFundamentals
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml

  /disease:
    get:
      summary: Get all disease
      description: Get all disease
      operationId: listDisease
      tags:
        - networkFundamentals
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
        - schema:
            type: string
          in: query
          name: offset
      responses:
        '200':
          description: A paged array of disease
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diseases'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml
    post:
      summary: Register new disease
      operationId: createDisease
      tags:
        - networkFundamentals
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/models/error.v1.yaml

components:
  schemas:
    Person:
      type: object
      required:
        - id
        - dateOfBirthday
      properties:
        id:
          type: integer
          format: int64
        dateOfBirthday:
          type: string
          format: date
        tag:
          type: string
    People:
      type: array
      items:
        $ref: "#/components/schemas/People"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Disease:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          format: int64
        tag:
          type: string
    Diseases:
      type: array
      items:
        $ref: "#/components/schemas/Diseases"
